:root {
    --dark: #19191B;
    --gray: #8F8F9E;
    --orange: #FF7143;
    --yellow: #ffbb00;
}
.register-form {
    margin-top: 20px;
    background: white;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 450px;
}
.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.register-button {
    font-family: 'Unbounded', sans-serif;
    font-size: 17px;
    letter-spacing: -0.53px;
    color: white;
    padding: 19px 66px;
    border-radius: 10px;
    transition: 0.3s;
    background-color: var(--orange);
    margin-top: 10px;
    outline: none;
    border: none;
}
.register-button:hover{
    opacity: 90%;
    transform: scale(0.98);
}

.username-input {
    padding: 12px;
    border: 1px solid var(--gray);
    border-radius: 8px;
    font-size: 16px;
}

.password-input {
    padding: 12px;
    border: 1px solid var(--gray);
    border-radius: 8px;
    font-size: 16px;
}

.hero__image-register {
    position: absolute;
    top: 50px;
    left: 200px;
    pointer-events: none; 
}